.slide-image {
    width: 100%;
}

/*.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}*/

/***

============================================== LIST TASKS ==============================================================

 ***/

.thumbnail .caption {
    min-height: 180px;
    word-wrap: break-word;
}

.thumbnail .caption .blocTitle {
    height : 30px;
}

.thumbnail .caption .author {
    color: grey;
    font-style: italic;
    margin: 0;
}

.thumbnail .caption .blocContent {
    height : 100px;
    overflow: scroll;
}

.thumbnail .caption .taskContent {
    margin : 0;
}


/***

============================================== FOOTER ==================================================================

 ****/

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    padding : 15px;
}
