{% extends 'base.html.twig' %}

{% block header_title %}
    <h1 class="mb-3">Welcome to Todo List, the application allowing you to manage all of your tasks effortlessly!</h1>
{% endblock %}

{% block body %}

    <div class="d-flex">
        <a href="#" class="btn btn-success me-4">Create a new task</a>
        <a href="#" class="btn btn-info text-white me-4">View the to-do list</a>
        <a href="#" class="btn btn-secondary me-4">View the list of completed tasks</a>
    </div>
{% endblock %}
