{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_edit', { 'id' : task.id })}) }}
        {{ form_widget(form) }}

        <div class="d-flex flex-row-reverse">
            <button type="submit" class="btn btn-success pull-right">Modifier</button>
            <a href="{{ path('task_list') }}" class="btn btn-danger mx-2">Annuler</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
